<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2019 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ear.core.mapper.UserMapper">
	
	<resultMap id="getListAuthenticatedResult" type="com.ear.core.model.AuthenticatedModel">		
		 <result column="id" property="id"/>
		 <result column="name" property="name"/> 		 
    </resultMap>	
	    
    <select id="getListAuthenticated" resultMap="getListAuthenticatedResult">
		SELECT
		    b.id,
		    b.name
		FROM earomer1_db_solution.user a,
			 earomer1_db_solution.authenticated b,
			 earomer1_db_solution.user_authenticated c
		WHERE a.email = #{email}
		AND a.is_enabled = 1
		AND a.id = c.id_user
		AND b.id = c.id_authenticated
	</select>
	
	<resultMap id="getListAuthorizedResult" type="com.ear.core.model.AuthorizedModel">		
		 <result column="id" property="id"/>
		 <result column="name" property="name"/> 		 
    </resultMap>	
	    
    <select id="getListAuthorized" resultMap="getListAuthorizedResult">
		SELECT
		    b.id,
		    b.name
		FROM earomer1_db_solution.user a,
			 earomer1_db_solution.authorized b,
			 earomer1_db_solution.user_authorized c
		WHERE a.email = #{email}
		AND a.is_enabled = 1
		AND a.id = c.id_user
		AND b.id = c.id_authorized
	</select>
		
	<resultMap id="getUserByEmailResult" type="com.ear.core.model.UserModel">				 
		 <result column="id" 			property="id"/>
		 <result column="picture" 		property="picture"/>
		 <result column="name" 			property="name"/>		 
		 <result column="last_name"     property="lastName"/>
		 <result column="email" 		property="email"/>
		 <result column="password" 		property="password"/>
		 <result column="phone" 		property="phone"/>
		 <result column="gender"        property="gender"/>
		 <result column="born_date" 	property="bornDate"/>
		 <result column="is_enabled" 	property="isEnabled"/>		 
		 <result column="code_status" 	property="codeStatus"/>
		 <result column="created_at" 	property="createdAt"/>
		 <result column="modified_at" 	property="modifiedAt"/>		 		 
		 <collection property="listAuthenticated" column="{email=email}" select="getListAuthenticated"/>	
		 <collection property="listAuthorized"    column="{email=email}" select="getListAuthorized"/>		 	
    </resultMap>
    	
    <select id="getUserByEmail" resultMap="getUserByEmailResult">
		SELECT
			a.id,
			a.picture,
			a.name, 
			a.last_name,
			a.email,
			a.password, 
			a.phone,
			a.gender,
			a.born_date, 
			a.is_enabled,
			a.code_status,
			a.created_at,
			a.modified_at
		FROM earomer1_db_solution.user a
		WHERE a.email = #{email}		
		AND a.is_enabled IN (0, 1)
		AND a.code_status IN ('SYS000', 'SYS001')
    </select>
    
	<insert id="createUser">				
	    INSERT INTO earomer1_db_solution.user ( 
			picture,
			name,
			last_name,
			email,
			password,
			phone, 
			gender,
			born_date,
			is_enabled,
			code_status,
			created_at,
			modified_at) 
		VALUES ( 
			#{userRequest.picture},
		 	#{userRequest.name},
		 	#{userRequest.lastName},
		 	#{userRequest.email},
		 	#{userRequest.password},
		 	#{userRequest.phone},		 	
		 	#{userRequest.gender},
		 	#{userRequest.bornDate},
		 	#{userRequest.isEnabled},		 	
		 	'SYS001',
		 	CURRENT_TIMESTAMP(),
		 	CURRENT_TIMESTAMP())  	 		 	
	</insert>

	<resultMap id="getUserActivesResult" type="com.ear.core.model.UserModel">				 
		 <result column="id" 			property="id"/>
		 <result column="picture" 		property="picture"/>
		 <result column="name" 			property="name"/>		 
		 <result column="last_name"     property="lastName"/>
		 <result column="email" 		property="email"/>
		 <result column="password" 		property="password"/>
		 <result column="phone" 		property="phone"/>
		 <result column="gender"        property="gender"/>
		 <result column="born_date" 	property="bornDate"/>
		 <result column="is_enabled" 	property="isEnabled"/>		 
		 <result column="code_status" 	property="codeStatus"/>
		 <result column="created_at" 	property="createdAt"/>
		 <result column="modified_at" 	property="modifiedAt"/>	 	
    </resultMap>
    	
    <select id="getUserActives" resultMap="getUserActivesResult">
		SELECT
			a.id,
			a.picture,
			a.name, 
			a.last_name,
			a.email,
			a.password, 
			a.phone,
			a.gender,
			a.born_date, 
			a.is_enabled,
			a.code_status,
			a.created_at,
			a.modified_at
		FROM earomer1_db_solution.user a
		WHERE a.is_enabled in (0,1)
		ORDER BY a.code_status DESC
    </select>
    
	<update id="desactivatedUserByEmail">
     	UPDATE earomer1_db_solution.user
     	SET is_enabled = 0, code_status = 'SYS000', modified_at = CURRENT_TIMESTAMP()
		WHERE id = #{id}
	</update>
	
	<update id="activatedUserByEmail">
     	UPDATE earomer1_db_solution.user
     	SET is_enabled = 1, code_status = 'SYS001', modified_at = CURRENT_TIMESTAMP()
		WHERE id = #{id}
	</update>
    
</mapper>
