<div class="wrapper">
    
    <app-sidebar></app-sidebar>

    <div class="main">
        
        <app-header></app-header>

        <main class="content">

            <div class="container-fluid p-0">

					<h1 class="h3 mb-3"><strong>Panel</strong> Comparativa </h1>

					<div class="row">
						<div class="col-12 col-lg-12 col-xxl-12 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
									<h5 class="card-title mb-0">Lista</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>										
											<th class="d-none d-md-table-cell"> Folio </th>
                                            <th class="d-none d-md-table-cell"> Placa </th>
                                            <th class="d-none d-md-table-cell"> Peso </th>
                                            <th class="d-none d-md-table-cell"> Precio </th>
                                            <th class="d-none d-md-table-cell"> Material </th>
                                            <th class="d-none d-md-table-cell"> Fecha </th>
                                            <th class="d-none d-md-table-cell"> Operador </th>
                                            <th class="d-none d-md-table-cell"> Total </th>
                                            <th class="d-none d-md-table-cell"> Ver </th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of ticketInvoices; let i = index" [ngClass]="getCount(item.listInvoiceExcel) ? 'text-danger total-invoice' : '' ">
											<td class="d-none d-md-table-cell"> {{ item.ticket.folio }} </td>
                                            <td class="d-none d-md-table-cell"> {{ item.ticket.badgeSmurfit }} </td>
                                            <td class="d-none d-md-table-cell"> {{ item.ticket.weigthOk }} </td>
                                            <td class="d-none d-md-table-cell"> {{ item.ticket.priceCalculated | currency }} </td>
                                            <td class="d-none d-md-table-cell"> {{ item.ticket.nameMaterial}} </td>
                                            <td class="d-none d-md-table-cell"> {{ item.ticket.dateAsString }} </td>
                                            <td class="d-none d-md-table-cell"> {{ item.ticket.operator }} </td>
                                            <td class="d-none d-md-table-cell total-invoice"> {{ item.totalInvoice }} </td>
                                            <td><button class="btn btn-info" (click)='viewInvoicesByTikcket(item.listInvoiceExcel)' id="buttonGetInvoicesByTikcket" data-bs-toggle="modal" data-bs-target="#modalGetInvoicesByTikcket"><i-feather name='eye'></i-feather></button></td>
										</tr>
									</tbody>
								</table>
							</div>
 
						</div>

					</div>

				</div>
  
				<!-- Modal Invoices By Tickey-->
				<div class="modal fade" id="modalGetInvoicesByTikcket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel"> Detalle </h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">                            
                            <table class="table table-hover my-0">
                                <thead>
                                    <tr>										
                                        <th class="d-none d-md-table-cell"> Folio </th>
                                        <th class="d-none d-md-table-cell"> Factura </th>
                                        <th class="d-none d-md-table-cell"> Tienda </th>
                                        <th class="d-none d-md-table-cell"> Localidad </th>
                                        <th class="d-none d-md-table-cell"> Cliente </th>
                                        <th class="d-none d-md-table-cell"> Material </th>
                                        <th class="d-none d-md-table-cell"> Planta </th>
                                        <th class="d-none d-md-table-cell"> Almacén </th>
                                        <th class="d-none d-md-table-cell"> Recolección </th>
                                        <th class="d-none d-md-table-cell"> Cantidad </th>
                                        <th class="d-none d-md-table-cell"> Precio </th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listInvoiceExcel; let i = index">
                                        <td class="d-none d-md-table-cell"> {{ item.folioTicket }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.numberInvoice }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.codeStore }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.location }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.customer }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.material }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.plant }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.aml }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.dateCollectionAsString }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.quantity }} </td>
                                        <td class="d-none d-md-table-cell"> {{ item.price | currency }} </td>                                                                      
                                    </tr>
                                </tbody>
                            </table>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
						</div>
					</div>
					</div>
				</div>

        </main>

        <app-footer></app-footer>

    </div>

</div>
